<!DOCTYPE html>
<html>
  <head>
		<title>Creo SaaS - __{{title}}__ API Tests</title>

		<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- jQuery is a foundation for Bootstrap, Pretty JSON and QUnit -->
		<script src="../../../../creo/libs/jquery-3.3.1.min.js"></script>

		<!-- QUnit related includes -->
		<link rel="stylesheet" href="../../../src/external/qunit/qunit.css">

		<!-- Popper -->
		<script src="../../../../creo/libs/popper-1.16.0/popper.min.js"></script>

		<!-- Bootstrap 4 related includes -->
		<script src="../../../../creo/libs/bootstrap-4.5.3/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../../../../creo/libs/bootstrap-4.5.3/css/bootstrap.min.css">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="../../../../creo/libs/fontawesome-5.15.1/css/all.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">

		<!-- Pretty JSON -->
		<link rel="stylesheet" type="text/css" href="../../../../creo/libs/css/pretty-json.css" />
		<script type="text/javascript" src="../../../../creo/libs/underscore-min.js" ></script>
		<script type="text/javascript" src="../../../../creo/libs/backbone-min.js" ></script>
		<script type="text/javascript" src="../../../../creo/libs/pretty-json-min.js" ></script>

		<!-- page stylesheet -->
		<link rel="stylesheet" href="../../static/styles/module-default.css">

		<!-- CreoJS Bridge and testing frameworks (Pretty JSON and QUnit extensions) -->
		<script src="../../../../creo/creojsbridge.js"></script>
		<script src="../../../../creo/creojson.js"></script>
		
		<script src="../../../../creosaasjsapis/index.js"></script>

		<script type="text/creojs" src="../../../../creo/tkapi.creojs"></script>
		<script type="text/creojs" src="../../../../creo/saas-api-load.creojs"></script>
		<script type="text/creojs" src="../../../../creo/saas-api.creojs"></script>
  </head>
  <body>
    <!-- Body will be filled by 'CSUnit.Test.load()' api. -->

    <script type="module" src="./index.js"></script>
  </body>
</html>
